.seperator-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 0.4rem;
    margin-top: 10px;
}

.seperator-inline {
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    width: 100%;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 0px;
}

.seperator-or {
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(105, 105, 105) !important;
    padding: 0.3rem 0.6rem 0.5rem 0.5rem;
    background: rgb(255, 255, 255);
}

.login-btn {
    padding: 10px 10px 10px 10px !important;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.login-form {
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 0px 10px 0px !important;
    border-radius: 0.6rem !important;
}

.login-form .form-control {
    margin-left: 20px;
    padding: 21px;
}

.link-signup {
    color: rgb(237, 90, 107);
    cursor: pointer;
}

.link-signup:hover {
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: left !important;
}

.signupError {
    text-align: center;
    color: red;
}